#home {
    text-align: center;
        min-height: 100vh;          
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

h1 {
    color: #1E2871;
    font-weight: 700;
    font-size: 50px;
}

.hero-role{
    color: #1E2871;
    font-weight: 600;
    font-size: 30px;
}

.hero-description {
    color: #1E2871;
    font-size: small;
    font-weight: 400;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.social-link {
    background-color: #F3F3FC;
    border-radius: 50%;
    border: solid 2px #1E30B6;
    padding: 14px;
    transition: all 1s;
}

.social-link:hover {
    transform: scale(1.1);
}

.social-icon{
    color: #2837AA;
    font-size: 16px;
}

.work-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1E2871;
    color: #feffff;
    padding: 10px 20px;
    gap: 10px;
    position: absolute;
    top:72%;
    left: 42%;
    width: 220px;
    border-radius: 8px;
    transition: all 1s;
    cursor: pointer;
}

.work-button:hover {
    background-color: #2837AA;
}

/* respon tab */

/* @media (max-width:768) {
    #home {
        left: 15%;
    }

    h1 {
        font-size: 38px;
        font-weight: 400;
    }
} */